html {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url("../images/005_WEB_30330435AstraRooneyBranding_022_ANa_Elena_Photography_OF011.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
	height: 100%;
	min-width: 450px;
	margin:0px;
	overflow: auto;
}

html {
	height: 100%
}
.spacer
{
	position:sticky;
	top:0;
    width: 100%;
    height: 125px;
}
.container .navbar-collapse a {
        color: #EFD9C1;
}

nav {
	background-color: #c04000ee;
	margin: 0px;
  }
  
  nav > a  {
  margin: 0px;
  }
  
.main-content{
	height: calc(100vh-575px);
    position: absolute;
    overflow: none;
}
 .well {
    
    min-height: 20px;
    padding: 10px;
    margin: 20px;
    background-color: #f5f5f5dd;
    border: 1px solid #e3e3e3;
}

.wrapper{
height: calc(100%-175px);
/*
margin-top: 120px;
*/
/*
overflow-y: auto;
*/
}

.text-sm{
font-size:4em;
}

.text-links{
font-size:1.5em;
color: #00f;
}
.pagetitle {
font-size: 3em;
font-family: bold;
color: #ddd;
margin-left: 15px;
}

.col {
justify-content: space-around;
}

li {

font-size: 1em;
}

li a:hover {
background-color: yellow;
}

.navbar-menu-ul > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-content {
    position:absolute;

}

.navbar-menu-ul > li > a {
color: #ddd;
margin: 0px;
padding: 0px;
}

.navbar-collapse.collapse.show > ul > li > a {
	color: #ddd
}

.navbar-menu-ul > li {
font-size: .8em;
}

footer {
/*
    position: fixed;
*/
    
    height: 75px;
    margin: 0px;
    bottom: 0;
    padding: 0;
    width: 100%;
}

header {
    position: fixed; 
    top: 0px;
    left: 0px;
    height: 100px;
    margin: 0px;
    width: 100%;
}

