html {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url("../images/005_WEB_30330435AstraRooneyBranding_022_ANa_Elena_Photography_OF011.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	overflow: none;
	margin:0px;
}

html {
	height: 100%
}

.flex-container {
	display: flex;
	background-color: #c04000bb;
	margin: 0px;
	padding: 0px;
	align-items: center;
  }
  
.flex-container > div {
	/* background-color: #f1f1f1; */
	margin-right: 5px;
	padding: 0px;
	/* font-size: large; */
	
  }

.flex-container .header-title {
	color:#ddd;
	font-size: xxx-large;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	margin-left: 15;
}
 
 .flex-container > img {
	margin: 0px;
	padding: 0px;
} 

.header-menu > ul> li {
	display: inline-block;
	font-size: x-large;
	margin: 15px
	align-items: center;
}

.header-menu > ul> li > a {
	color: #ddd;
	margin: 15px
	align-items: center;
	}

.header-menu {
	display: flex-end
	}
